<?xml version="1.0"?>
<launch>

  <node name="cliffmap_server" type="cliffmap_server" pkg="cliffmap_ros" 
  	    args="$(find cliffmap_rviz_plugin)/cliffmaps/scenario1_matched_only.xml" >
  	    <param name="frame_id" value="map_laser2d"/>
  	</node>

  <node name="rviz" type="rviz" pkg="rviz" />

  <node pkg="map_server" type="map_server" name="mapserver" args="$(find stefmap_ros)/maps/orkla_map_p.yaml">
  	<param name="frame_id" value="map_laser2d"/>
  </node>

</launch>