<?xml version="1.0"?>
<launch>
	<node pkg = "tf" type = "static_transform_publisher" name="map_to_map2" 
		args="-45 -29 0 0.25 0 0 /cliffmap_frame /map 100" />

  <node name="cliffmap_server" type="cliffmap_server" pkg="cliffmap_ros" 
  	    args="$(find cliffmap_rviz_plugin)/cliffmaps/scenario2_matched_only.xml" >
  	    <param name="frame_id" value="/map"/>
  	</node>

  <node name="rviz" type="rviz" pkg="rviz" />

  <node pkg="map_server" type="map_server" name="mapserver" args="$(find stefmap_ros)/maps/orkla_map_lasertop.yaml">
  	<param name="frame_id" value="/cliffmap_frame"/>
  </node>

</launch>